<!doctype html>
<html lang="en">

  <head>
    <!-- doc head -->
    <%- include('partials/head') %>
  </head>

  <body>
    <div id="scrollToTop"></div>

    <!-- header section -->
    <%- include('partials/section-header') %>

    <!-- services section -->
    <%- include('section-services') %>

    <!-- detailed section -->
    <%- include('section-detailed') %>

    <!-- howto section -->
    <%- include('section-howto') %>

    <!-- contact section -->
    <%- include('section-contact') %>

    <!-- JS FILES -->
    <%- include('jsfiles') %>
  </body>
</html>
